@import url('https://fonts.googleapis.com/css?family=Open+Sans|Francois+One');

/* Sticky footer */
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
}

#footer-push {
  height: 20px;
}

.footer .outer-container {
  background-color: #222222;
}

.footer-inner {
  margin-top: 6px;
}

.footer-inner .text-muted {
  margin-top: 6px;
  margin-right: 20px;
  float: left;
}

#map {
  height: 100%;
}

body {
  background-color: #333333;
  color: #DDDDDD;
  font-family: 'Open Sans', sans-serif;
}

.widget {
  margin-top: 20px;
  border: solid #999999 1px;
  background-color: #222222;
}

.widget .widget-description, .widget .widget-title {
  margin: 5pt 10pt;
}

.widget.widget-single .widget-fill {
  height: 200px;
}

.widget.widget-double .widget-fill {
  height: 400px;
}

.widget .widget-title {
  font-size: larger;
  font-weight: bold;
  font-family: 'Francois One', sans-serif;
}
