@import url('https://fonts.googleapis.com/css?family=Open+Sans|Francois+One');

#map {
  height: 100%;
}

body {
  background-color: #333333;
  color: #DDDDDD;
  margin-top: 20px;
  font-family: 'Open Sans', sans-serif;
}

.widget {
  border: solid #999999 1px;
  background-color: #222222;
}

.widget .widget-description, .widget .widget-title {
  margin: 5pt 10pt;
}

.widget.widget-single .widget-fill {
  height: 200px;
}

.widget.widget-double .widget-fill {
  height: 400px;
}

.widget .widget-title {
  font-size: larger;
  font-weight: bold;
  font-family: 'Francois One', sans-serif;
}
